## Preprocessing

In [1]:
#pip install keras_tuner

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
# import the kerastuner library
import keras_tuner as kt

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", "NAME"], axis=1)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']       

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#classifications_to_replace = application_df['CLASSIFICATION'].value_counts() < 1000 
# classifications_to_replace = [cls for cls in classifications_to_replace if cls == True]
classifications_to_replace = application_df['CLASSIFICATION'].groupby(application_df['CLASSIFICATION']).count() < 1000 
classifications_to_replace

CLASSIFICATION
C0        True
C1000    False
C1200    False
C1230     True
C1234     True
         ...
C7200     True
C7210     True
C8000     True
C8200     True
C8210     True
Name: CLASSIFICATION, Length: 71, dtype: bool

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = [
'C7000','C1700','C4000','C5000','C1270','C2700','C2800',       
'C7100','C1300','C1280','C1230','C1400','C7200','C2300','C1240',       
'C8000','C7120','C1500','C1800','C6000','C1250','C8200','C1278','C1238',       
'C1237','C1235','C7210','C1720','C2400','C4100','C1257','C1600',        
'C0', 'C1260', 'C2710', 'C1234', 'C1246', 'C1267', 'C3200', 'C1256',
'C1370','C1236','C2190','C4200','C5200','C1248','C2600',        
'C1580','C6100','C1820','C1900','C2570','C1570','C3700',        
'C2500','C1283','C2380','C1732','C1728','C2170',        
'C4120','C8210','C4500','C1245','C2561','C2150'  ]

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
application_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [11]:
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
new_df = pd.get_dummies(application_df, columns=['AFFILIATION', 'USE_CASE', 'ORGANIZATION', 'APPLICATION_TYPE', \
                                                 'CLASSIFICATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS' ])
new_df.columns

Index(['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL', 'AFFILIATION_CompanySponsored',
       'AFFILIATION_Family/Parent', 'AFFILIATION_Independent',
       'AFFILIATION_National', 'AFFILIATION_Other', 'AFFILIATION_Regional',
       'USE_CASE_CommunityServ', 'USE_CASE_Heathcare', 'USE_CASE_Other',
       'USE_CASE_Preservation', 'USE_CASE_ProductDev',
       'ORGANIZATION_Association', 'ORGANIZATION_Co-operative',
       'ORGANIZATION_Corporation', 'ORGANIZATION_Trust',
       'APPLICATION_TYPE_Other', 'APPLICATION_TYPE_T10',
       'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3', 'APPLICATION_TYPE_T4',
       'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6', 'APPLICATION_TYPE_T7',
       'APPLICATION_TYPE_T8', 'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200',
       'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000',
       'CLASSIFICATION_Other', 'INCOME_AMT_0', 'INCOME_AMT_1-9999',
       'INCOME_AMT_10000-24999', 'INCOME_AMT_100000-499999',
       'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M', 'INCOME_AMT_25000-99999',
       'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M', 'SPECIAL_CONSIDERATIONS_N',
       'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object')

In [13]:
# Split our preprocessed data into our features and target arrays
features = new_df.drop(['IS_SUCCESSFUL'], axis=1)
target = new_df['IS_SUCCESSFUL']
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(features, target, random_state=42)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [18]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','elu'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=20,
        step=2), activation=activation, input_dim=43))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 5)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=20,
            step=2),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [19]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=40,
    hyperband_iterations=2)

In [ ]:
tuner.search(X_train_scaled,y_train,epochs=40,validation_data=(X_test_scaled,y_test))

Trial 179 Complete [00h 02m 23s]
val_accuracy: 0.7318950295448303

Best val_accuracy So Far: 0.7346938848495483
Total elapsed time: 01h 08m 40s

Search: Running Trial #180

Value             |Best Value So Far |Hyperparameter
tanh              |tanh              |activation
5                 |7                 |first_units
3                 |2                 |num_layers
17                |17                |units_0
9                 |9                 |units_1
11                |3                 |units_2
15                |15                |units_3
17                |19                |units_4
40                |40                |tuner/epochs
0                 |14                |tuner/initial_epoch
0                 |1                 |tuner/bracket
0                 |1                 |tuner/round

Epoch 1/40
804/804 [==============================] - 3s 3ms/step - loss: 0.6029 - accuracy: 0.6908 - val_loss: 0.5733 - val_accuracy: 0.7223
Epoch 2/40
804/804 [==============================] - 2s 3ms/step - loss: 0.5657 - accuracy: 0.7252 - val_loss: 0.5666 - val_accuracy: 0.7275
Epoch 3/40
804/804 [==============================] - 2s 3ms/step - loss: 0.5598 - accuracy: 0.7279 - val_loss: 0.5633 - val_accuracy: 0.7251
Epoch 4/40
804/804 [==============================] - 2s 3ms/step - loss: 0.5573 - accuracy: 0.7283 - val_loss: 0.5617 - val_accuracy: 0.7265
Epoch 5/40
804/804 [==============================] - 2s 3ms/step - loss: 0.5561 - accuracy: 0.7286 - val_loss: 0.5596 - val_accuracy: 0.7264
Epoch 6/40
804/804 [==============================] - 2s 3ms/step - loss: 0.5551 - accuracy: 0.7280 - val_loss: 0.5588 - val_accuracy: 0.7287
Epoch 7/40
804/804 [==============================] - 2s 3ms/step - loss: 0.5541 - accuracy: 0.7286 - val_loss: 0.5574 - val_accuracy: 0.7287
Epoch 8/40
804/804 [==============================] - 2s 3ms/step - loss: 0.5533 - accuracy: 0.7296 - val_loss: 0.5565 - val_accuracy: 0.7282
Epoch 9/40
804/804 [==============================] - 2s 3ms/step - loss: 0.5523 - accuracy: 0.7307 - val_loss: 0.5585 - val_accuracy: 0.7282
Epoch 10/40
804/804 [==============================] - 2s 3ms/step - loss: 0.5525 - accuracy: 0.7295 - val_loss: 0.5567 - val_accuracy: 0.7264
Epoch 11/40
804/804 [==============================] - 2s 3ms/step - loss: 0.5519 - accuracy: 0.7298 - val_loss: 0.5558 - val_accuracy: 0.7268
Epoch 12/40
804/804 [==============================] - 2s 3ms/step - loss: 0.5514 - accuracy: 0.7301 - val_loss: 0.5563 - val_accuracy: 0.7301
Epoch 13/40
804/804 [==============================] - 2s 3ms/step - loss: 0.5508 - accuracy: 0.7301 - val_loss: 0.5553 - val_accuracy: 0.7269
Epoch 14/40
804/804 [==============================] - 2s 3ms/step - loss: 0.5506 - accuracy: 0.7310 - val_loss: 0.5549 - val_accuracy: 0.7285
Epoch 15/40
804/804 [==============================] - 2s 3ms/step - loss: 0.5506 - accuracy: 0.7304 - val_loss: 0.5555 - val_accuracy: 0.7265
Epoch 16/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5503 - accuracy: 0.7306 - val_loss: 0.5542 - val_accuracy: 0.7298
Epoch 17/40
804/804 [==============================] - 2s 3ms/step - loss: 0.5498 - accuracy: 0.7322 - val_loss: 0.5546 - val_accuracy: 0.7306
Epoch 18/40
804/804 [==============================] - 2s 3ms/step - loss: 0.5496 - accuracy: 0.7309 - val_loss: 0.5568 - val_accuracy: 0.7269
Epoch 19/40
804/804 [==============================] - 2s 3ms/step - loss: 0.5491 - accuracy: 0.7320 - val_loss: 0.5564 - val_accuracy: 0.7249
Epoch 20/40
215/804 [=======>......................] - ETA: 1s - loss: 0.5509 - accuracy: 0.7289

In [21]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'tanh',
 'first_units': 7,
 'num_layers': 2,
 'units_0': 17,
 'units_1': 9,
 'units_2': 3,
 'units_3': 15,
 'units_4': 19,
 'tuner/epochs': 40,
 'tuner/initial_epoch': 14,
 'tuner/bracket': 1,
 'tuner/round': 1,
 'tuner/trial_id': '0164'}

In [22]:
# Evaluate best model against full test data
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5519 - accuracy: 0.7347 - 1s/epoch - 4ms/step
Loss: 0.5518885254859924, Accuracy: 0.7346938848495483

In [23]:
best_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 7)                 308

 dense_1 (Dense)             (None, 17)                136

 dense_2 (Dense)             (None, 9)                 162

 dense_3 (Dense)             (None, 1)                 10

=================================================================
Total params: 616
Trainable params: 616
Non-trainable params: 0
_________________________________________________________________

In [24]:
# Export our model to HDF5 file
best_model.save("charity_success_optomization_v2.h5")